%h3 Inventory Demo
%p Operation Theaters equipment monitor: Ten equipments - each with a home operation theater - are shared between three operation theaters
%h4 Location History for #{@item_name} (Item ID: #{@id})

= chart_tag('history_data', 300, :id => @id)

