{
"type": "Gauge",
"cols": [["string", "Name of Dial"], ["number", "Temperature"]],
"rows": [["Sensor #{@id}", #{@entry["field1"]}]],
"options": {"greenFrom": 20, "greenTo": 35, "min": -50, "max": 60, "redFrom": 35, "redTo": 60, "yellowFrom": 0, "yellowTo": 20}
}
