%div.navbar
  %div.navbar-inner
    %ul.nav
      %li
        %img{:src => "/assets/hippo.png", alt: "Hippo"}
      %li.active
        %a{:href => root_path} Home
      %li
        %a{:href => "#"} About

      